@using Cognition.Shared.Changes
@model Cognition.Shared.Changes.DocumentChangeNotification
<div class="row">
    <div class="col-md-12 change-notification">
        @Html.Gravatar(Model.ByUserId, 80, new { width = 40, height = 40, @class = "avatar" })
        @Html.ActionLink(Model.Title, "Index", "Document", new { id = Model.DocumentId, type = Model.Type }, new { })
        <br/>        
        @if (Model.ChangeType == ChangeType.Updated)
        {
            <span> updated by </span>
        }
        else if (Model.ChangeType == ChangeType.Created)
        {
            <span> created by</span>
        }
        <span>@Model.ByUserName</span>
        <abbr class="timeago" title="@(Model.DateTime.ToString("s") + "Z")">@Model.DateTime.ToString()</abbr>

    </div>

</div>