@model Cognition.Shared.Documents.Document
@{
    ViewBag.PageTitle = "Edit " + Model.Title;
}

<h1>@ViewBag.PageTitle</h1>

@using (Html.BeginForm("Edit","Document",FormMethod.Post, new { @class="form-horizontal"}))
{
<fieldset>
    @Html.AntiForgeryToken()
    
    @Html.HiddenFor(m => m.Type)
    @Html.HiddenFor(m => m.Id)
    
    @Html.EditorForModel("DocumentDefault")
    
    <button type="submit" class="btn btn-primary">Edit</button>
</fieldset>
}

