@model Cognition.Web.ViewModels.DocumentSearchViewModel

@{
    ViewBag.Title = "Search Results for " + Model.Query;
}

<h2>@ViewBag.Title</h2>

@if (Model.TotalResult == 0)
{
    <div class="row">
        <div class="col-lg-12">
            No search results found.
        </div>
    </div>
}

@foreach (var document in Model.Results)
{
    <div class="row search-result">
        <div class="col-lg-2 text-muted">
            <h4>@document.GetFullName()</h4>
        </div>
        <div class="col-lg-10">
            <a href="@Url.Action("Index", new { id = document.Id, type = document.Type})">
                <h4>@document.Title</h4>
                
            </a>
                @document.Subtitle
                
        </div>
        
    </div>
}

<hr />

<div class="row">
    <div class="col-lg-6">@Model.TotalResult results found.</div>
    <div class="col-lg-6"></div>
</div>
